:root {
    /* Colors */
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --main-text-color: #757575;
    --address-text: rgba(255, 255, 255, 0.6);
    --background-color-white: #ffffff;
    --background-color-gray: #F5F4FA;
    --background-color-black: #2F303A;

    /* Other */
    --indent: 30px;
    --items: 3;

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



body {
    background-color: var(--background-color-white);
    color: var(--main-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
}

button {
    font-family: inherit;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/* Utilities */
.list {
    padding: 0;
    margin: 0;

    list-style-type: none
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.hidden-element {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.centre {
    text-align: center;
}

main {
    padding-top: 81px;
}


/*--/ Utilities */

/* Page header */
.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;

    width: 100%;
    background-color: #ffffff;

    border-bottom: 1px solid #ECECEC;
}

.navigation-panel {
    display: flex;
    background-color: #ffffff;
}

.navigation-panel>.main-nav {
    display: flex;
    align-items: center;
}

.contacts-panel {
    margin-left: auto;
}

.contacts-panel>.contacts {
    display: flex;
    justify-content: end;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item:not(:last-child),
.contacts .item:not(:last-child) {
    margin-right: 50px;
}

/* Site navigation */
.main-nav .logo,
.bottom .logo {
    color: var(--accent-color);

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.main-nav .logo-black {
    color: #000000;
}

.bottom .logo-white {
    color: #ffffff;
}

.site-nav .link,
.contacts-link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

    fill: #757575;
    /* animation */
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.contacts-link {
    display: flex;
    align-items: center;

    color: inherit;
}

.contacts-icon {
    margin-right: 10px;
}

.site-nav .link:hover,
.site-nav .link:focus,

.contacts-link:hover,
.contacts-link:focus,

.bottom .link:hover,
.bottom .link:focus,

.link.current {
    color: var(--accent-color);
    outline: none;
}

.contacts-link:hover .contacts-icon,
.contacts-link:focus .contacts-icon {
    fill: var(--accent-color);
}

.site-nav .link.current::after {
    position: absolute;
    bottom: -1px;

    content: '';
    display: block;
    width: 100%;

    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}




/* Main section */

.section-title {
    color: var(--title-text-color);

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.sub-title {
    color: var(--title-text-color);

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}




/* Hero block */
.hero-title {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    width: 696px;

    color: #ffffff;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


.section.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-size: cover;
    background-position: center;

    background-color: var(--background-color-black);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg.jpg);
    background-repeat: no-repeat;
}


.button.hero {
    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;
    border-radius: 4px;

    background-color: var(--accent-color);
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

/*--/ Hero block */
/*     STRONG PARTS OF THE COMPANY */
.section.feature {
    padding-top: 94px;
    padding-bottom: 47px;
}

.feature .flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    --items: 4;
}

.feature .item {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));

    /* flex-basis: calc((100%-90px)/4); */
    /* width: calc((100%-90px)/4); */
}

.feature .sub-title {
    margin-bottom: 10px;
}

.feature .text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.feature-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;

    border-radius: 4px;

    background-color: var(--background-color-gray);
}


/* --/ STRONG PARTS OF THE COMPANY */
/* --------OUR JOB --------*/
.section.our-job {
    padding-top: 47px;
    padding-bottom: 94px;
}

.our-job .section-title {
    margin-bottom: 50px;
}

.our-job .flex-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    --items: 3;
}


.our-job .item {
    position: relative;
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.our-job .item-txt {
    position: absolute;
    width: 100%;
    bottom: 0;

    padding-top: 27px;
    padding-bottom: 27px;

    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    background-color: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
}

/* --/ OUR JOB */

/*   Our team */
.section.team {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;

    background-color: var(--background-color-gray);
}

.team .flex-container {
    display: flex;
}

.team .item {
    flex-basis: calc((100%-90px)/4);
    /* width: calc((100%-90px)/4); */

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    background-color: var(--background-color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team .item+.item {
    margin-left: 30px;
}

.team .section-title {
    margin-bottom: 50px;
}

.team .sub-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-transform: none;
}

.team .text {
    margin-bottom: 1em;

    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.item .text-box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team .social.list {
    display: flex;
    gap: 10px;
    justify-content: center;
}


.team .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    fill: #afb1b8;
    /* animation */
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.team .social-link:hover,
.team .social-link:focus {
    background-color: var(--accent-color);
    outline: none;
}

.team .social-link .icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}


.team .social-link:hover .icon,
.team .social-link:focus .icon {
    fill: #ffffff;

}


/*--/ Our team */

/* Clients */

.section.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-clients-title {
    margin-bottom: 50px;

    color: var(--title-text-color);

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}


.clients .list {
    display: flex;
    gap: 30px;
}



.clients-item .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;

    border: 1px solid #AFB1B8;
    border-radius: 4px;

    fill: #afb1b8;
    /* animation */
    transition-property: border-color fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.clients-item .link .icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.clients-item .link:hover .icon,
.clients-item .link:focus .icon {
    fill: var(--accent-color);

}

.clients-item .link:hover,
.clients-item .link:focus {
    border-color: var(--accent-color);

    outline: none;
}

/*--/ Clients */

/* Footer */
.bottom .flex-container {
    display: flex;
    align-items: baseline;
}

.bottom {
    padding-top: 60px;
    padding-bottom: 60px;

    color: #ffffff;
    background-color: var(--background-color-black);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.bottom .logo {
    display: block;
    margin-bottom: 20px;
}

.bottom .item:not(:last-child) {
    display: block;
    margin-bottom: 9px;
}

.bottom .link {
    display: block;
    color: rgba(255 255 255 / .6);
    font-style: normal;
    text-decoration: none;
    /* animation */
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.bottom .street {
    color: inherit;
}


.bottom-address {
    margin-right: 70px;
}

.bottom .promo-title {
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.promo .list {
    display: flex;
    gap: 10px;
}


.promo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.1);
    /* animation */
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.promo-link:hover,
.promo-link:focus {
    background-color: var(--accent-color);
    outline: none;
}

/*-------------FOOTER Sign up form ----------*/
.form-sign-up {
    display: flex;
    margin-left: auto;
    align-items: flex-end;
}


.sign-up-block {
    display: block;
    margin-right: 12px;
}

.sign-up-txt {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sign-up-button {
    width: 200px;
    height: 50px;

    background-color: var(--accent-color);
    background-origin: border-box;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    border-radius: 4px;
    border: 1px solid transparent;


    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-button-txt {
    margin-right: 10px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;

    color: #FFFFFF;
}

.sign-up-input {
    display: block;
    width: 358px;
    height: 50px;


    font-weight: 400;
    font-size: 16px;
    line-height: calc(20/16);
    letter-spacing: 0.03em;

    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--background-color-black);
    border-radius: 4px;
    color: #2196F3;
}

.sign-up-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.sign-up-input:focus {
    color: var(--accent-color);
}

/* Portfolio-Page */

.filter.flex-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter .item:not(:last-child) {
    margin-right: 8px;
}

.button-filter {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;

    color: var(--title-text-color);
    background-color: #F5F4FA;
    border-radius: 4px;
    border: 1px transparent;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    /* animation */
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.button-filter:hover,
.button-filter:focus {
    color: #ffffff;
    background-color: var(--accent-color);
    outline: none;
}

/* Examples of Job */
.section.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.portfolio .flex-item {
    flex-basis: calc((100% - 60px)/3);
    /* width: calc((100% - 60px)/3); */
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-img-box {
    position: relative;
    overflow: hidden;

}

.portfolio .txt-is-hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    transform: translateY(100%);

    /* animation */
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
    /* font */
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;

    background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-link:hover .txt-is-hidden,
.portfolio-link:focus .txt-is-hidden {
    transform: translateY(0);
    opacity: 1;
}

.portfolio .flex-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio .flex-item:not(:nth-child(-n + 6)) {
    margin-bottom: 0;
}

.portfolio .text-block {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
    border: 1px solid #EEEEEE;
}

.portfolio-link {
    display: block;
    color: var(--main-text-color);

    text-decoration: none;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.portfolio .sub-title {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-transform: none;
}

.portfolio .text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.portfolio-link:hover,
.portfolio-link:focus {
    outline: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}



/* MODAL */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 101;
    /* width: 100%;
    height: 100%; */

    cursor: not-allowed;

    color: #000000;
    background-color: rgba(0, 0, 0, 0.2);

    transition-property: visibility, opacity;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 50ms;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.4);
}

.backdrop .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);


    width: 528px;
    height: 581px;
    cursor: initial;

    background-color: #ffffff;
    /* anime */
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



.close-button {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    border-radius: 50%;

    background: #FFFFFF;

    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Modal form */
.modal-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 40px;
}

.form-field {
    position: relative;
    width: 100%;
}

.modal-form-title {
    margin-bottom: 12px;

    font-size: 20px;
    line-height: calc(23/20);
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}

.data-title {
    display: block;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;

    color: var(--main-text-color);
}

.form-input {
    display: block;
    padding-left: 42px;
    width: 100%;
    margin-bottom: 10px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;

    transition-property: outline-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.form-input:focus,
.form-input:hover {
    outline-color: var(--accent-color);
}

.form-input.comments {
    padding: 12px 16px;
    margin-bottom: 20px;
    height: 120px;
    resize: none;
}

/* ----------Form Agreement------ */
.block-agreement {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;

    color: var(--main-text-color);
}


.agreement-link {
    color: var(--accent-color);
    text-underline-offset: 10%;
}

/*----------/ Form Agreement-------- */


.form-button {
    max-width: 200px;
    min-width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: var(--accent-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;

    color: #FFFFFF;
}

/* Form icons */
.form-block {
    position: relative;
}

.form-field .icon {
    position: absolute;
    left: 11px;
    bottom: 12px;

    display: block;
}

.close-button .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




/* SLide to left side */

.form-field .icon,
.close-button .icon {
    fill: currentColor;
    transition-property: fill, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.form-input:focus+.icon {
    fill: var(--accent-color);

    animation: zoom 250ms var(--timing-function) 50ms 1 alternate;
}

.form-input:not(:placeholder-shown)+.icon {
    fill: var(--accent-color);

    animation: zoom 250ms var(--timing-function) 50ms 1 alternate;
}

.close-button:hover .icon,
.close-button:focus .icon {
    transform: translate(-50%, -50%) rotate(360deg);
    fill: var(--accent-color);
}

/* Checkbox */
.input-checkbox:checked,
.input-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input-checkbox+.icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 2px;

    margin-right: 7px;
}

.input-checkbox:checked+.icon {
    background-color: var(--accent-color);
    background-image: url("../images/icon-check.svg");
    background-size: contain;
    background-origin: border-box;
    border-color: transparent;

    animation: zoom 250ms var(--timing-function) 50ms 1 alternate;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(3);
    }

    100% {
        transform: scale(2);
    }
}